{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block header %}
 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Assign Node Identities
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href={{ url_for('index') }}>Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Assign Node Identities
                            </li>
                        </ol>
                    </div>
</div>
{% endblock %}
{% block content %}
{% from "_formhelpers.html" import render_field, render_bootstrap_field, render_RU_field %}
<div class="col-lg-9">
     <form class="form-horizontal" role="form" method=post action="/nodeidentities">
        {{ render_bootstrap_field(form.starting_ip) }}
        {{ render_bootstrap_field(form.hostname_prefix) }}
        {{ render_bootstrap_field(form.first_hostname_id) }}
        {{ render_bootstrap_field(form.count) }}
        <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type=submit value=Submit class="btn btn-primary">
        </div>
        </div>
    </form>
</div>
{% endblock %}
