{% extends "base.html" %}
{% block title %} - Run Log {% endblock %}
{% block header %}
 <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Detected Nodes
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href={{ url_for('index') }}>Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-table"></i> Detected Nodes
                            </li>
                        </ol>
                    </div>
</div>
{% endblock %}
{% block content %}
<div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>MAC Address</th>
                        <th>Proc Count</th>
                        <th>RAM</th>
                        <th>Serial</th>
                        <th>RU</th>
                        <th>Hostname</th>
                        <th>IP address</th>
                    </tr>
                </thead>
                <tbody>
                {% for node in nodeinfo %}
                    <tr>
                        <td>{{ nodeinfo[node]['name'] }}</td>
                        {% if nodeinfo[node].has_key('facts') %}
                            <td>{{ nodeinfo[node]['facts']['macaddress'] }}</td>
                            <td>{{ nodeinfo[node]['facts']['processorcount'] }}</td>
                            <td>{{ nodeinfo[node]['facts']['memorysize_mb']|int  / 1000 }} GB</td>
                            <td>{{ nodeinfo[node]['facts']['serialnumber'] }}</td>
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                        {% if nodeinfo[node].has_key('metadata') %}
                            {% if nodeinfo[node]['metadata'].has_key('RU') %}
                                <td>{{ nodeinfo[node]['metadata']['RU'] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if nodeinfo[node]['metadata'].has_key('HZ_hostname') %}
                                <td>{{ nodeinfo[node]['metadata']['HZ_hostname'] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                            {% if nodeinfo[node]['metadata'].has_key('HZ_ipaddress') %}
                                <td>{{ nodeinfo[node]['metadata']['HZ_ipaddress'] }}</td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% else %}
                            <td></td>
                            <td></td>
                            <td></td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
</div>
{% endblock %}